<form action="/shops/new" method="post">
  <dl>
    <dt>
      <label for="shop_name">Enter the name for your new shop (35 character max):</label>
    </dt>
    <dd>
      <input name="shop_name" placeholder="Shop Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/shops">Cancel</a>
  </fieldset>
</form>